/* Write your CSS here */
.bg-container {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  display: flex;
  height: 60%;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
